<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="600">
				<tr>
					<th class="stack-column" width="300">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="center" class="desktop">
									<img
										width="300"
										alt="yes-optus"
										title="Optus"
										src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/deb30e54-bb4a-4ce0-a806-fb48a6fabfe8.png"
										style="display:block;"
									/>
								</td>
								<td align="center" class="mobile" style="mso-hide: all;display:none;">
									<img
										alt="yes-optus"
										title="Optus"
										width="100%"
										src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/deb30e54-bb4a-4ce0-a806-fb48a6fabfe8.png"
									/>
								</td>
							</tr>
						</table>
					</th>
					<th width="300" class="stack-column" style="font-weight: normal;" align="center">
						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Helvetica, Arial, sans-serif;">
							<tr>
								<td
									style="font-family: Helvetica, Arial, sans-serif; font-size: 18px;line-height: 24px;color:#ffffff; text-align: center;background-color:#00a3ad;"
									height="45"
								>
									Switch to Optus today
								</td>
							</tr>
							<tr>
								<td
									style="font-family: Helvetica, Arial, sans-serif; font-size: 16px;line-height: 24px;color:#ffffff; text-align: center;background-color:#006280;padding: 0 35px 0 35px;"
									height="87.5"
								>
									More Australians are choosing Optus mobile than ever before.
								</td>
							</tr>
						</table>
					</th>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px">
			<table table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color:#000000; text-align: left;">
						Optus branded consumer mobile services. Net adds half year to Jun 19.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
