<a id="footer" name="footer"></a>
<table border="0" cellpadding="0" cellspacing="0" id="footer" width="100%">
	<tr>
		<td align="center">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" style="max-width:800px;">
				<tr>
					<td class="table_responsive" style="display:block;">
						<img
							alt="line"
							height="4"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/78269cb0-5627-4d14-ba14-def291bb0ddb.png"
							style="display:block;"
							width="100%"
						/>
					</td>
				</tr>
				<tr>
					<td style="background-color: #404040; padding: 30px 10px; font-family: Helvetica, Arial, sans-serif; color:#ffffff;">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
							<tr>
								<td align="right">
									<table
										align="right"
										border="0"
										cellpadding="0"
										cellspacing="0"
										class="center-on-narrow"
										style="font-size:12px;display:table !important;"
									>
										<tr>
											<td style="padding:0 10px;font-size:12px;line-height: 16px;">
												<a
													href="https://www.virginmobile.com.au/contact-virgin-mobile/"
													style="color: #fff;text-decoration: underline;"
													>Contact Us</a
												>
											</td>
											<td style="padding:0 10px;font-size:12px;line-height: 16px;">
												<a href="https://www.virginmobile.com.au/privacy/" style="color: #fff;text-decoration: underline;"
													>Privacy Policy</a
												>
											</td>
											<td style="padding:0 10px;font-size:12px;line-height: 16px;">
												<a
													href="%%=RedirectTo(CloudpagesURL(370,'sub',_subscriberkey))=%%"
													style="color: #fff;text-decoration: underline;"
													>Unsubscribe</a
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" style="color:#fff;font-size: 12px;">
										<tr>
											<td style="padding:20px 0; font-weight:bold;font-size: 12px;text-decoration: none !important;">
												<span style="display:inline-block !important;">The Fine Print:</span>
											</td>
										</tr>
										<tr>
											<td style="padding-bottom: 20px; font-weight:bold;font-size: 12px;text-decoration: none !important;">
												<span style="display:inline-block !important;">FAIR GO POLICY APPLIES.</span>
											</td>
										</tr>
										<tr>
											<td style="line-height:18px;font-size: 12px;text-decoration: none !important;">
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">HANDSET PAYOUT WAIVER: </span> Offer available to Virgin Mobile
													customers who have had an active service for at least 18 months of their 24-month contract, when
													they sign up to a new Optus mobile and month-to-month SIM plan for 12, 24 or 36 months and port
													their number to Optus. Offer may be withdrawn anytime.
												</p>
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">VIRGIN MOBILE CUSTOMER BONUS DATA OFFER: </span> Offer available
													to all Virgin Mobile customers migrating their existing Virgin Mobile service, to a new Optus
													Choice Packaged Plan (exclude Optus Choice Build Plans). Not available with any other in-market
													offer, unless specified. Available until withdrawn. Bonus data available for up to 24 months. Plan
													reverts to standard inclusion after 24 months. Bonus Data will be forfeited if you re-contract,
													change or cancel your plan.
												</p>
												<p style="display:inline-block !important;">
													Bonus data only available on a $39, $49, $59 or $79 Optus Choice Packaged Plan. Bonus data
													allowance is: 10GB bonus data on the $39 packaged plan. For the remaining packaged plans, you will
													receive 25GB bonus data.
												</p>
												<p style="display:inline-block !important;">
													Bonus data will show when you &lsquo;proceed to cart&rsquo;, select &lsquo;keep my number&rsquo;
													and validate your existing Virgin Mobile number at check out.
												</p>
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;"
														>OPTUS CHOICE PLANS (MONTH-TO-MONTH) &amp; DEVICE PAYMENT PLAN:
													</span>
													SIM plan required for device payment plan. If you cancel either plan, you&rsquo;ll need to pay out
													remaining device payments in full. SIM plan price, inclusions &amp; add-ons may change as
													notified.
												</p>
												<!-- %%[ IF @DoubleDataFlag == "Yes" THEN ]%% -->
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;"
														>5G HANDSET DOUBLE DATA OFFER - $0/mth for the first 12 months (normally $10/mth):
													</span>
													Available to eligible new or recontracting customers who purchase and remain on a 12, 24 or
													36-month eligible 5G device payment plan with an eligible Optus mobile plan. 5G handset double
													data offer valid for the first 12 consecutive months from activation of the related mobile
													service. After the first 12 months, you will need to opt in to continue to get double data and pay
													$10/mth. If you change between eligible mobile plans, the 5G handset double data offer amount will
													change to reflect 2 x the data inclusions of the new plan. If you change to an ineligible mobile
													plan, you will forfeit the 5G handset double data offer. Once you change to an ineligible mobile
													plan, you will not receive the 5G handset double data if you move back to an eligible mobile plan.
													One 5G handset double data offer per service.
												</p>
												<!-- %%[ ENDIF ]%% -->

												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">COVERAGE:</span> Coverage availability will vary depending on your
													device and location. Check coverage at
													<a
														href="https://www.optus.com.au/shop/mobile/network/coverage"
														style="color: #fff;text-decoration: underline;"
														>optus.com.au/coverage</a
													>
													based on your address and device.
												</p>
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">OPTIONAL EXTRAS: </span> Available on a month by month basis and
													do not form part of your plan. You may cancel them at any time. Optus may change or withdraw an
													optional extra at any time and we will try and give you 21 days prior notice of a change. If an
													optional extra is cancelled, changed or withdrawn, you will be liable to pay charges for the
													optional extra service that remain active until the relevant billing cycle ends and your plan will
													continue for the rest of its term.
												</p>
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">APPLE MUSIC: </span> Personal viewing in Australia. Fair Go Policy
													applies. Data charges apply. Compatible device and Australian Apple ID required. Apple Music with
													Optus is a month-to-month optional extra and does not form part of any Optus plan. Full terms at
													<a
														href="https://www.optus.com.au/content/dam/optus/documents/for-you/entertainment/tv-movies-music/music/apple-music/terms/apple_music_with_optus_terms.pdf"
														style="color: #fff;text-decoration: underline;"
														>optus.com.au/applemusic/fullterms</a
													>. Apple Music terms apply to your use of Apple Music. Apple Music is a registered trademark of
													Apple Inc.
												</p>
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">APPLE MUSIC FREE TRIAL: </span> Approved customers who recontract
													or sign up and remain on selected plans are eligible for a 6 or 12-month Apple Music free trial
													subscription (depending on your plan). You must opt-in to the trial within 30 days of activation
													of your Optus service, or such longer period as we may notify you. If you cancel your Optus
													service, your right to access the trial will end and you will forfeit any remaining trial time.
													During your trial you will see a charge and corresponding credit on your Optus bill. At the end of
													the free trial period, you will automatically roll on to a paid month-to-month subscription
													charged at the standard monthly price on your Optus bill unless you opt out at any time during the
													trial period. If you opt out during the trial period, you will still have full access to the trial
													until the end of the trial period. Limit one free Apple Music trial with Optus per service per
													Apple ID.
												</p>
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">OPTUS SPORT: </span>
													<span style="font-weight: bold;"
														>Subscription required. Fair Go Policy applies. Personal Viewing in Australia Only.</span
													>
													Content and features vary by sport and are subject to change. This is a month-to-month
													subscription and does not form any part of an Optus plan. Some data charges apply for Optus Sport.
													Optus Sport is delivered using Adaptive Bitrate Streaming Technology at a resolution of up to
													720p. Optus Sport will work best with an internet bandwidth of 3Mbps or greater (7Mbps or greater
													for 2nd Gen. Fetch boxes). Use of other internet applications on the same internet connection at
													the same time may cause a degradation in video quality.
												</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
