<!-- %%[
    IF @OfferType == "M2M_Handset" THEN
		SET @CTABannerUrl = CONCAT(@OfferURL,'&CID=',@CampaignId,'&utm_source=SFMC&utm_medium=email&utm_campaign=',@CampaignCode,'&utm_term=',@ClusterId,'&utm_content=banner&content=',@CampaignId,'_Banner')
	ELSEIF @OfferType == "M2M" THEN
        SET @CTABannerUrl = CONCAT(@OfferURL,'?CID=',@CampaignId,'&utm_source=SFMC&utm_medium=email&utm_campaign=',@CampaignCode,'&utm_term=',@ClusterId,'&utm_content=banner&content=',@CampaignId,'_Banner')
	ELSE
		SET @CTABannerUrl = CONCAT('https://offer.optus.com.au/shop/mobile/phone-plans','?CID=',@CampaignId,'&utm_source=SFMC&utm_medium=email&utm_campaign=',@CampaignCode,'&utm_term=',@ClusterId,'&utm_content=banner&content=',@CampaignId,'_Banner')
	ENDIF
]%% -->

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<table align="center" cellpadding="0" cellspacing="0" class="table_responsive" style="max-width:800px;">
				<tr>
					<!--[if mso
						]><td align="center" width="40" styclass="hide-d"></td>
						<td align="center" width="40" styclass="hide-d"></td
					><![endif]-->

					<td align="center" bgcolor="#ffffff" class="table_responsive" style="padding-bottom: 20px;" valign="top">
						<a href="%%=RedirectTo(@CTABannerUrl)=%%">
							<img
								title="Offer"
								border="0"
								class="desktop"
								src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/f7e0e8ee-d8d7-498a-bee3-6a9067f9c32f.gif"
								style="display:block; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;width: 800px;height: auto;"
								width="800"
							/>
							<!--[if !mso]><!-->

							<img
								title="Offer"
								border="0"
								class="show-mobile-gmail"
								height="auto"
								src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/d9e245a1-6a96-42b7-afb2-86264ea0149c.gif"
								style="display:none; font-size:0; line-height:0; mso-hide: all;max-height: 0; max-width: 0; width:0; -ms-interpolation-mode: bicubic;"
							/>
							<!--[endif]-->
						</a>
					</td>

					<!--[if mso
						]><td align="center" width="40" styclass="hide-d"></td>
						<td align="center" width="40" styclass="hide-d"></td
					><![endif]-->
				</tr>
			</table>
		</td>
	</tr>
</table>
