<!-- %%[
 /* DEVICE IMAGE */
 SET @DeviceImage        = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/cda05bf9-576d-48cc-8b85-46745f12db21.png'
 IF @HandsetName == 'iPhone 7' THEN
  SET @DeviceImage       = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/cda05bf9-576d-48cc-8b85-46745f12db21.png'
 ELSEIF @HandsetName == 'iPhone XR' THEN
  SET @DeviceImage      = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/059d2790-5bb2-4b49-9c1f-6035447b4980.jpg'
 ELSEIF @HandsetName == 'iPhone XS Max' THEN
  SET @DeviceImage      = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/af7e87bf-3706-4bbb-9008-696239b6fc6b.png'
 ELSEIF @HandsetName == 'iPhone 11' THEN
  SET @DeviceImage      = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/f57f1ace-f531-42e7-8183-9711689b0bbb.png'
 ELSEIF @HandsetName == 'iPhone 11 Pro' THEN
  SET @DeviceImage      = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/141a5d3b-5984-4a9b-b63a-a919ab62017b.png'
 ELSEIF @HandsetName == 'Samsung Galaxy S10' THEN
  SET @DeviceImage                        = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/7afc08f1-110a-4542-858e-290677bed511.png'
 ELSEIF @HandsetName == 'Samsung Galaxy S10e' THEN
  SET @DeviceImage      = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/72433dfe-a191-4b28-82c3-3c5bd569ba54.png'
 ELSEIF @HandsetName == 'Samsung Galaxy S10+' THEN
  SET @DeviceImage      = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/8f67adc1-bc9f-484b-9a75-1e4788e9d06e.png'
 ELSEIF @HandsetName == 'Samsung Galaxy A8' THEN
  SET @DeviceImage      = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/49a0f4dc-3cc2-407e-96c2-24d73a755500.jpg'
 ELSEIF @HandsetName == 'Samsung Galaxy A50' THEN
  SET @DeviceImage      = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/e7d8100f-b823-4d3a-92dc-6cb6a7d340bf.png'
 ELSEIF @HandsetName == 'Samsung Galaxy S20 5G' THEN
  SET @DeviceImage      = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/4b4674c7-0f98-4fd7-8eb0-d860a07127e8.png'
 ELSEIF @HandsetName == 'Samsung Galaxy S20+ 5G' THEN
  SET @DeviceImage      = 'https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/e9f6ec40-0b9f-42a8-9f37-1ea2061ccd42.png'
 ENDIF
 /* CONVERT EMPTY DEVICE COST TO 0 */
 IF EMPTY(@DeviceCost) THEN
  SET @DeviceCost       = '0'
 ENDIF
]%% -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 0px 10px;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td align="center" bgcolor="#e6e6e6" style="font-size: 0%; line-height: 1px;" valign="top">
						<img
							border="0"
							height="1"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/a1ca562c-924d-4ec0-bc4d-c458f1245839.gif?b=1523409168000"
							style="display: block;"
							width="1"
						/>
					</td>
				</tr>
				<tr>
					<td
						align="center"
						bgcolor="#ffffff"
						style="font-family: Helvetica, Arial, sans-serif; font-size: 28px; color: #00a3ad; line-height: 32px; text-decoration: none; text-align: center; font-weight: normal;padding: 20px 0px;"
					>
						Our choice for you
					</td>
				</tr>
				<!-- %%[ IF @OfferType == "M2M_Handset" THEN]%% -->
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
							<tr>
								<td bgcolor="#e3e9ec">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td
												style="font-size: 22px;padding-bottom: 20px;font-weight: bold;font-family: Helvetica,Arial,sans-serif;color:#006280;padding: 20px;"
											>
												Your Phone
											</td>
										</tr>
										<tr>
											<td style="padding-bottom: 20px;">
												<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
													<tr>
														<th class="stack-column pad10" style="padding: 0px 7.5px 0px 20px;" width="50%">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tr>
																	<td
																		align="left"
																		bgcolor="#fdcc08"
																		height="48"
																		style="padding:0px 10px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;color: #000000;"
																	>
																		%%=CONCAT(@HandsetName,' ',@DeviceStorage,'GB')=%%
																	</td>
																</tr>
																<tr>
																	<td
																		align="left"
																		bgcolor="#ffffff"
																		class="padtopbottom15-100w fluid"
																		height="155"
																		style="padding: 0px 10px;"
																	>
																		<table>
																			<tr>
																				<td style="font-family:Helvetica, Arial, sans-serif;color: #000000;">
																					<span
																						style="font-size: 14px;font-weight: bold;vertical-align: 7px;mso-line-height-rule:exactly;line-height: 14px;"
																						>$</span
																					>
																					<span
																						style="font-size: 22px;font-weight: bold;mso-line-height-rule:exactly;line-height: 22px;"
																						>%%=v(@DeviceCost)=%%</span
																					>
																					<span
																						style="font-size: 14px;font-weight: bold;mso-line-height-rule:exactly;line-height: 14px;"
																						>/mth</span
																					>
																				</td>
																			</tr>
																			<tr>
																				<td
																					style="font-family:Helvetica, Arial, sans-serif;font-size: 11px;color: #000000; mso-line-height-rule:exactly;line-height: 14px;padding-top: 10px;font-weight: normal;"
																				>
																					Device payment if you remain on any month-to-month SIM plan for
																					%%=v(@ContractPeriod)=%% months. Min. cost
																					$%%=FormatNumber(@ContractTotalCost,'N',"en-AU")=%% excludes
																					applicable device credits and includes device payments over
																					%%=v(@ContractPeriod)=%% months and 1 month of the
																					$%%=v(@PlanCost)=%%/mth SIM plan.
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
														</th>
														<th class="stack-column pad10" style="padding: 0px 20px 0px 7.5px;" width="50%">
															<table
																bgcolor="#ffffff"
																border="0"
																cellpadding="0"
																cellspacing="0"
																style="background-color: #ffffff;"
																width="100%"
															>
																<tr>
																	<td align="center" bgcolor="#ffffff" height="203">
																		<img alt="handset-image" height="170" src="%%=v(@DeviceImage)=%%" />
																	</td>
																</tr>
															</table>
														</th>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- %%[ ENDIF ]%% -->
			</table>
		</td>
	</tr>
</table>
