<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<!-- %%[ IF @OfferType == "M2M_Handset" THEN ]%% -->
				<tr>
					<td style="padding: 20px;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td width="40%" style="font-family: Helvetica,Arial,sans-serif;color:#006280;font-size: 22px;font-weight: bold;">
									Your Plan
								</td>
								<td align="center" width="20%">
									<img
										style="vertical-align: middle;"
										width="35"
										src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/bef31066-55fd-4ae1-9a83-8a15ca7855bc.png"
										alt=""
									/>
								</td>
								<td width="40%"></td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- %%[ ENDIF ]%% -->
				<tr>
					<td align="center" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
							<tr>
								<td
									align="left"
									bgcolor="#00a3ad"
									style="padding:16px 20px;border-left:1px #86dfe4 solid; border-right:1px #86dfe4 solid;"
								>
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td align="left" bgcolor="#00a3ad">
												<table
													cellpadding="0"
													cellspacing="0"
													align="left"
													style="font-family: Helvetica, Arial, sans-serif;text-align: left; font-weight: bold;"
												>
													<tr>
														<td
															style="font-size: 26px; color: #FFFFFF; line-height: 28px; mso-line-height-rule:exactly;"
															valign="top"
														>
															$
														</td>
														<td style="font-size: 40px; color: #FFFFFF; line-height: 38px; mso-line-height-rule:exactly;">
															%%=v(@PlanCost)=%%
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td
												align="left"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #FFFFFF; line-height: 16px; mso-line-height-rule:exactly;"
											>
												Month-to-month
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td align="left" bgcolor="#ebebeb" style="padding:16px 20px;">
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<!-- %%[ IF @DoubleDataFlag == "Yes" THEN ]%% -->
										<tr>
											<td
												align="left"
												bgcolor="#ebebeb"
												style="font-family: Helvetica, Arial, sans-serif;text-align: left; font-weight: bold;font-size: 36px;line-height: 36px; color: #000000;mso-line-height-rule:exactly;"
											>
												%%=Multiply(@OptusAllowance,"2")=%%<span
													style="vertical-align: 7px;font-size: 24px;line-height: 24px; color: #000000;mso-line-height-rule:exactly;"
													>GB</span
												>
											</td>
										</tr>
										<tr>
											<td
												align="left"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #000000; line-height: 16px; mso-line-height-rule:exactly;padding: 5px 0px 7px;"
											>
												%%=v(@OptusAllowance)=%%GB + %%=v(@OptusAllowance)=%%GB Bonus Data
											</td>
										</tr>
										<!-- %%[ ELSE ]%% -->
										<tr>
											<td
												align="left"
												bgcolor="#ebebeb"
												style="font-family: Helvetica, Arial, sans-serif;text-align: left; font-weight: bold;font-size: 36px;line-height: 36px; color: #000000;mso-line-height-rule:exactly;"
											>
												%%=v(@OptusAllowance)=%%<span
													style="vertical-align: 7px;font-size: 24px;line-height: 24px; color: #000000;mso-line-height-rule:exactly;"
													>GB</span
												>
											</td>
										</tr>
										<!-- %%[ ENDIF ]%% -->
										<tr>
											<td
												align="left"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #000000; line-height: 16px; mso-line-height-rule:exactly;"
											>
												Extra data $10/1GB
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td
									align="left"
									bgcolor="#fdcc08"
									style="padding:16px 20px;border-left:1px #f9e597 solid; border-right:1px #f9e597 solid;"
								>
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td
												align="left"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight:bold; color: #000000; line-height: 20px; mso-line-height-rule:exactly; text-align: left;"
												valign="top"
											>
												Special Offer
											</td>
										</tr>
										<tr>
											<td
												align="left"
												style="padding-top: 5px;font-family: Helvetica, Arial, sans-serif;text-align: left; font-weight: bold;font-size: 36px;line-height: 36px; color: #000000;mso-line-height-rule:exactly;"
											>
												%%=v(@BonusData)=%%<span
													style="vertical-align: 7px;font-size: 24px;line-height: 24px; color: #000000;mso-line-height-rule:exactly;"
													>GB</span
												>
											</td>
										</tr>
										<tr>
											<td
												align="left"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #000000; line-height: 20px; mso-line-height-rule:exactly; text-align: left;"
											>
												Migrate to Optus and get bonus data. Your bonus data will show when you select to keep your number at
												check out.
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- DATA POOLING -->
				<tr>
					<td style="padding: 20px; border-left:1px #efefef solid; border-right:1px #efefef solid;">
						<table align="left" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td
									align="center"
									style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; color: #000000; line-height: 20px; mso-line-height-rule:exactly; text-align: left; font-weight:bold;"
								>
									DATA POOLING
								</td>
							</tr>
							<tr>
								<td align="left" style="padding-top: 20px;">
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td style="padding-right:15px;" class="align-top">
												<img
													width="40"
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/63382930-02fe-4aff-9e7f-78d3f5e2655e.png"
												/>
											</td>
											<td
												align="left"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #000000; line-height: 24px; mso-line-height-rule:exactly; text-align: left;font-weight: bold;"
												valign="middle"
											>
												Share your data<br />
												<span
													style="font-size:12px;line-height: 16px; mso-line-height-rule:exactly; color: #000000;font-weight: normal; "
													>Across the eligible plans on your account</span
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" bgcolor="#e6e6e6" style="font-size: 0%; line-height: 1px;" valign="top">
						<img
							border="0"
							height="3"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/a1ca562c-924d-4ec0-bc4d-c458f1245839.gif?b=1523409168000"
							style="display: block;"
							width="1"
						/>
					</td>
				</tr>
				<!-- TALK & TEXT -->
				<tr>
					<td style="padding: 20px; border-left:1px #efefef solid; border-right:1px #efefef solid;">
						<table align="left" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td
									align="center"
									style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; color: #000000; line-height: 20px; mso-line-height-rule:exactly; text-align: left; font-weight:bold;"
								>
									TALK &amp; TEXT
								</td>
							</tr>
							<tr>
								<td align="left" style="padding:20px 0px">
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td style="padding-right:15px;" class="align-top">
												<img
													width="40"
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/30d60ca0-f8bb-4a91-a86b-c83aedc15771.png"
												/>
											</td>
											<td
												align="center"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #000000; line-height: 24px; mso-line-height-rule:exactly; text-align: left;font-weight: bold;"
												valign="middle"
											>
												Unlimited Standard National Talk &amp; Text<br />
												<span
													style="font-size:12px;line-height: 18px; mso-line-height-rule:exactly; color: #000000;font-weight: normal; "
													>Standard Australian mobiles and landlines, 13/1300 numbers and voicemail. Standard national SMS
													and MMS.</span
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td align="center" bgcolor="#e6e6e6" style="font-size: 0%; line-height: 1px;" valign="top">
									<img
										border="0"
										height="1.5"
										src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/a1ca562c-924d-4ec0-bc4d-c458f1245839.gif?b=1523409168000"
										style="display: block;"
										width="1"
									/>
								</td>
							</tr>
							<!-- %%[ IF @PlanCost == "39" THEN ]%% -->
							<tr>
								<td align="left" style="padding-top: 20px; opacity: 0.4;">
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td style="padding-right:15px;" class="align-top">
												<img
													width="40"
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/ef766b5f-537e-47b5-bdf0-784a35f0fc29.png"
												/>
											</td>
											<td
												align="center"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #000000; line-height: 24px; mso-line-height-rule:exactly; text-align: left;font-weight: bold;"
												valign="middle"
											>
												International Talk & Text Not Included
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- %%[ ELSE ]%% -->
							<tr>
								<td align="left" style="padding-top: 20px;">
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td style="padding-right:15px;" class="align-top">
												<img
													width="40"
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/ef766b5f-537e-47b5-bdf0-784a35f0fc29.png"
												/>
											</td>
											<td
												align="center"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #000000; line-height: 24px; mso-line-height-rule:exactly; text-align: left;font-weight: bold;"
												valign="middle"
											>
												Unlimited Standard International Talk &amp; Text<br />
												<span
													style="font-size:12px;line-height: 16px; mso-line-height-rule:exactly; color: #000000;font-weight: normal; "
													>From Australia to 35 selected destinations</span
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- %%[ ENDIF ]%% -->
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" bgcolor="#e6e6e6" style="font-size: 0%; line-height: 1px;" valign="top">
						<img
							border="0"
							height="3"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/a1ca562c-924d-4ec0-bc4d-c458f1245839.gif?b=1523409168000"
							style="display: block;"
							width="1"
						/>
					</td>
				</tr>
				<!-- PREMIUM CONTENT -->
				<tr>
					<td style="padding: 20px; border-left:1px #efefef solid; border-right:1px #efefef solid;border-bottom: 1px #efefef solid;">
						<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td
									align="center"
									style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; color: #000000; line-height: 20px; mso-line-height-rule:exactly; text-align: left; font-weight:bold;"
								>
									PREMIUM CONTENT
								</td>
							</tr>
							<!-- %%[ IF @PlanCost == "39" THEN ]%% -->
							<tr>
								<td align="left" style="padding:20px 0px; opacity: 0.4;">
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td style="padding-right:15px;" class="align-top">
												<img
													width="40"
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/d5d4eda1-39fc-4245-b64c-a08da77bca00.png"
													style="background-color: #ffffff;"
													alt="apple-music-icon"
												/>
											</td>
											<td
												align="center"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #000000; line-height: 20px; mso-line-height-rule:exactly; text-align: left;font-weight: normal;"
												valign="middle"
											>
												Apple Music not included.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td align="center" bgcolor="#e6e6e6" style="font-size: 0%; line-height: 1px;" valign="top">
									<img
										border="0"
										height="1.5"
										src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/a1ca562c-924d-4ec0-bc4d-c458f1245839.gif?b=1523409168000"
										style="display: block;"
										width="1"
									/>
								</td>
							</tr>
							<tr>
								<td align="left" style="padding-top: 20px; opacity: 0.4;">
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td style="padding-right:15px;" class="align-top">
												<img
													width="40"
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/7045f65b-9403-4c8d-81b4-2a33ac4b2878.png"
													alt="optus-sport-icon"
												/>
											</td>
											<td
												align="center"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #000000; line-height: 20px; mso-line-height-rule:exactly; text-align: left;font-weight: normal;"
												valign="middle"
											>
												Optus Sport not included.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- %%[ ELSE ]%% -->
							<tr>
								<td align="left" style="padding:20px 0px;">
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td style="padding-right:15px;" class="align-top">
												<img
													width="40"
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/d5d4eda1-39fc-4245-b64c-a08da77bca00.png"
													style="background-color: #ffffff;"
													alt="apple-music-icon"
												/>
											</td>
											<td
												align="center"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #000000; line-height: 20px; mso-line-height-rule:exactly; text-align: left;font-weight: normal;"
												valign="middle"
											>
												Stream 60 million songs with a %%=v(@AppleMusicPeriod)=%% month free Apple music subscription. Data
												charges apply.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td align="center" bgcolor="#e6e6e6" style="font-size: 0%; line-height: 1px;" valign="top">
									<img
										border="0"
										height="1.5"
										src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/a1ca562c-924d-4ec0-bc4d-c458f1245839.gif?b=1523409168000"
										style="display: block;"
										width="1"
									/>
								</td>
							</tr>
							<tr>
								<td align="left" style="padding-top: 20px;">
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td style="padding-right:15px;" class="align-top">
												<img
													width="40"
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/7045f65b-9403-4c8d-81b4-2a33ac4b2878.png"
													alt="optus-sport-icon"
												/>
											</td>
											<td
												align="center"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #000000; line-height: 20px; mso-line-height-rule:exactly; text-align: left;font-weight: normal;"
												valign="middle"
											>
												Optus Sport subscription included.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- %%[ ENDIF ]%% -->
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
