<!-- %%[
	SET @BushFireHelpCall = CONCAT('tel://1300555100?CID=E:',@SubscriberKey,':',@CampaignId,':',@SANSubSegmentId,':',@OCNSubSegmentId,':',@ClusterId,':',@CampaignId,'_CTA_Tele')
]%% -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px;">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="600">
				<tr>
					<td class="padtopbottom15-100w" style="padding: 10px 25px 0px;background:#fff;">
						<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
							<tr>
								<th align="center" class="stack-column" style="padding:5px 0px;" valign="top" width="15%">
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td align="center">
												<img
													alt="bushfire_support"
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/0c6aed91-07d0-4634-a9f5-6959f8569d20.jpg"
													title="Bushfire Support"
													width="57"
												/>
											</td>
										</tr>
									</table>
								</th>
								<th class="stack-column-center" style="padding:10px;font-weight: normal;text-align: left;" width="85%">
									<table
										border="0"
										cellpadding="0"
										cellspacing="0"
										class="textalign_mob_center"
										style="font-family: Helvetica,Arial, sans-serif;"
									>
										<tr>
											<td class="condensed10-d" style="font-size: 16px;font-weight: bold;line-height: 24px; color: #6b1f7c">
												Bushfire support
											</td>
										</tr>
										<tr>
											<td style="font-size: 16px;line-height:24px;">
												We're here to help. If your service has been impacted please call
												<a href="%%=RedirectTo(@BushFireHelpCall)=%%" title="Call us"
													><span style="color: #6b1f7c;text-decoration:underline;font-weight:bold;">1300 555 100</span></a
												>.
											</td>
										</tr>
									</table>
								</th>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
