<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px;">
			<table border="0" cellspacing="0" cellpadding="0" width="530" class="table_responsive">
				<tr>
					<td align="center" bgcolor="#e6e6e6" style="font-size: 0%; line-height: 1px;" valign="top">
						<img
							border="0"
							height="1"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/a1ca562c-924d-4ec0-bc4d-c458f1245839.gif?b=1523409168000"
							style="display: block;"
							width="1"
						/>
					</td>
				</tr>
				<tr>
					<td style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;padding-top: 20px;">
						Cheers,<br />
						<span style="font-weight:bold;">The Virgin Mobile Team</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
