<!-- %%[
    IF @OfferType == "M2M_Handset" THEN
		SET @PlanIcon = "https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/727a51a7-ea5a-464a-b973-0f7449276828.png"
		SET @PlanCopy = "Optus plan + device"
    ELSEIF @OfferType == "M2M" THEN
		SET @PlanIcon = "https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/32aa7809-fa89-4680-845d-9d07cd47ae40.png"
		SET @PlanCopy = "plan"
    ELSE
		SET @PlanIcon = "https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/32aa7809-fa89-4680-845d-9d07cd47ae40.png"
		SET @PlanCopy = "plan"    
    ENDIF
]%% -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<!-- <tr>
					<td align="center" bgcolor="#e6e6e6" style="font-size: 0%; line-height: 1px;" valign="top">
						<img
							border="0"
							height="1"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/a1ca562c-924d-4ec0-bc4d-c458f1245839.gif?b=1523409168000"
							style="display: block;"
							width="1"
						/>
					</td>
				</tr> -->
				<tr>
					<td align="center" style="font-family: Helvetica, Arial, sans-serif;font-size: 28px;color: #6b1f7c;padding: 20px 0px;">
						Claim your bonus data
					</td>
				</tr>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
							<tr>
								<th align="center" style="font-weight: normal;padding: 0px 20px;" class="stack-column" width="33%">
									<table border="0" cellpadding="0" cellspacing="0" class="table_responsive">
										<tr>
											<td align="center" style="padding: 20px 0px;">
												<img src="%%=v(@PlanIcon)=%%" alt="" height="65" />
											</td>
										</tr>
										<tr>
											<td
												align="center"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #000000; mso-line-height-rule:exactly;line-height: 18px;"
												class="fluid"
												height="80"
												valign="top"
											>
												1. Choose your %%=v(@PlanCopy)=%%
											</td>
										</tr>
									</table>
								</th>
								<th align="center" style="font-weight: normal;padding: 0px 20px;" class="stack-column" width="34%">
									<table border="0" cellpadding="0" cellspacing="0" class="table_responsive">
										<tr>
											<td align="center" style="padding: 20px 0px;">
												<img
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/354ffb2e-42e2-432f-85c7-cba5efdaa4d4.png"
													alt=""
													height="65"
												/>
											</td>
										</tr>
										<tr>
											<td
												align="center"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #000000; mso-line-height-rule:exactly;line-height: 18px;"
												class="fluid"
												height="80"
												valign="top"
											>
												2. Proceed through checkout as a new customer
											</td>
										</tr>
									</table>
								</th>
								<th align="center" style="font-weight: normal;padding: 0px 20px;" class="stack-column" width="33%">
									<table border="0" cellpadding="0" cellspacing="0" class="table_responsive">
										<tr>
											<td align="center" style="padding: 20px 0px;">
												<img
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/29b3c4b8-27ec-480b-83d0-bc2e8a6fbe0e.png"
													alt=""
													height="65"
												/>
											</td>
										</tr>
										<tr>
											<td
												align="center"
												style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #000000; mso-line-height-rule:exactly;line-height: 18px;"
												class="fluid"
												height="80"
												valign="top"
											>
												3. Your bonus data will reflect in your order summary prior to purchase
											</td>
										</tr>
									</table>
								</th>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
