<!-- %%[
    IF @OfferType == "M2M_Handset" THEN
  SET @CTABodyUrl = CONCAT(@OfferURL,'&CID=',@CampaignId,'&utm_source=SFMC&utm_medium=email&utm_campaign=',@CampaignCode,'&utm_term=',@ClusterId,'&utm_content=body&content=',@CampaignId,'_Body')
 ELSEIF @OfferType == "M2M" THEN
        SET @CTABodyUrl = CONCAT(@OfferURL,'?CID=',@CampaignId,'&utm_source=SFMC&utm_medium=email&utm_campaign=',@CampaignCode,'&utm_term=',@ClusterId,'&utm_content=body&content=',@CampaignId,'_Body')
 ELSE
  SET @CTABodyUrl = CONCAT('https://offer.optus.com.au/shop/mobile/phone-plans','?CID=',@CampaignId,'&utm_source=SFMC&utm_medium=email&utm_campaign=',@CampaignCode,'&utm_term=',@ClusterId,'&utm_content=body&content=',@CampaignId,'_Body')
 ENDIF
]%% -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:10px 10px 20px 10px;">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;"
					>
						Hi%%=IIF(EMPTY(@FirstName),'',CONCAT(' ',PROPERCASE(TRIM(@FirstName))))=%%,
					</td>
				</tr>
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;"
					>
						Our friends at Optus have a new range of packaged month to month SIM plans with no lock in contracts.
					</td>
				</tr>
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;"
					>
						Plus, if you
						<a href="%%=RedirectTo(@CTABodyUrl)=%%" style="color: #6b1f7c;text-decoration: underline;" title="Switch to Optus"
							>switch today</a
						>, we'll waive the remaining months of your current contract and even throw in some bonus data (on selected plans).
					</td>
				</tr>
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;"
					>
						<!-- Desktop clickable-->
						<span class="desktop"
							>Terms and conditions apply,

							<a
								alias="please see below"
								conversion="false"
								data-linkto="anchortotext"
								href="#footer"
								style="color:#000000;text-decoration:underline;"
								title="please see below"
								>please see below</a
							>.</span
						>
						<!-- Mobile non-clickable-->
						<!--[if !mso]><!-->
						<span style="display:none; mso-hide: all; -ms-interpolation-mode: bicubic;" class="show-mobile-gmail"
							>Terms and conditions apply, please see below.</span
						>
						<!--[endif]-->
					</td>
				</tr>
				<tr>
					<td style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;">
						Did you know Virgin Mobile uses the Optus Mobile Network? Yep, so you can still enjoy the Optus Mobile network without any
						change to your service.
					</td>
				</tr>
				<!-- <tr>
		  <td>
		   <table align="left" border="0" cellpadding="0" cellspacing="0">
			<tr>
			 <td
			  align="center"
			  bgcolor="#6b1f7c"
			  style="background-color: #6b1f7c;color: #ffffff;font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 16px;vertical-align: middle;height: 38px;width: 175px;"
			 >
			  <a
			   href="%%=RedirectTo(@CTABodyUrl)=%%"
			   style="color: #ffffff; padding: 8px 15px;text-decoration: none;display: block;font-size: 16px;line-height: 16px;vertical-align: middle;text-align: center;"
			   >GO FOR IT</a
			  >
			 </td>
			</tr>
		   </table>
		  </td>
		 </tr> -->
			</table>
		</td>
	</tr>
</table>
