<!-- %%[
    IF @OfferType == "M2M_Handset" THEN
		SET @CTAOnlineUrl = CONCAT(@OfferURL,'&CID=',@CampaignId,'&utm_source=SFMC&utm_medium=email&utm_campaign=',@CampaignCode,'&utm_term=',@ClusterId,'&utm_content=cta_online&content=',@CampaignId,'_CTA_Online')
	ELSEIF @OfferType == "M2M" THEN
        SET @CTAOnlineUrl = CONCAT(@OfferURL,'?CID=',@CampaignId,'&utm_source=SFMC&utm_medium=email&utm_campaign=',@CampaignCode,'&utm_term=',@ClusterId,'&utm_content=cta_online&content=',@CampaignId,'_CTA_Online')
	ELSE
		SET @CTAOnlineUrl = CONCAT('https://offer.optus.com.au/shop/mobile/phone-plans','?CID=',@CampaignId,'&utm_source=SFMC&utm_medium=email&utm_campaign=',@CampaignCode,'&utm_term=',@ClusterId,'&utm_content=cta_online&content=',@CampaignId,'_CTA_Online')
	ENDIF
]%% -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:10px 10px 20px 10px;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td style="padding: 0px 20px;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td
									align="center"
									style="font-family: Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;padding-bottom: 20px;color: #000000;"
								>
									Total $%%=v(@MonthlyTotal)=%%/mth
								</td>
							</tr>
							<!-- %%[ IF @OfferType == "M2M_Handset" THEN ]%% -->
							<tr>
								<td
									align="center"
									style="font-family: Helvetica, Arial, sans-serif;font-size:14px;padding-bottom: 20px;color: #000000;mso-line-height-rule:exactly;line-height: 18px;"
								>
									Min. cost $%%=FormatNumber(@ContractTotalCost,'N',"en-AU")=%% excludes applicable device credits and includes
									device payments over %%=v(@ContractPeriod)=%% months and 1 month of the $%%=v(@PlanCost)=%%/mth SIM plan. SIM plan
									price, inclusions & add-ons may change as notified.
								</td>
							</tr>
							<!-- %%[ ELSE ]%% -->
							<tr>
								<td
									align="center"
									style="font-family: Helvetica, Arial, sans-serif;font-size:14px;padding-bottom: 20px;color: #000000;mso-line-height-rule:exactly;line-height: 18px;"
								>
									Min. cost $%%=FormatNumber(@ContractTotalCost,'N',"en-AU")=%% includes 1 month of the $%%=v(@PlanCost)=%%/mth SIM
									plan. SIM plan price, inclusions & add-ons may change as notified.
								</td>
							</tr>
							<!-- %%[ ENDIF ]%% -->
							<tr>
								<td style="padding: 0px 10px 20px">
									<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="175">
										<tr>
											<td
												align="center"
												bgcolor="#fdcc08"
												style="background-color: #fdcc08;color: #000000;font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 16px;vertical-align: middle;height: 38px;width: 175px;"
											>
												<a
													href="%%=RedirectTo(@CTAOnlineUrl)=%%"
													style="color: #000000; padding: 8px 15px;text-decoration: none;display: block;font-size: 16px;line-height: 16px;vertical-align: middle;text-align: center;"
													>LET'S GO FOR IT</a
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td
									align="center"
									style="font-family: Helvetica, Arial, sans-serif;font-size:14px;padding-bottom: 10px;color: #000000;mso-line-height-rule:exactly;line-height: 18px;"
								>
									Bonus data will show when you 'proceed to cart', select 'keep my number' and validate your existing Virgin Mobile
									number at check out.
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
